body {
  font-size: 24px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E1D1B4;
}

.header-nav {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.header-nav, .header-img, .header-menu {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header, button {
  margin-right: 10px;
}

header img {
display: block;
margin: 0 auto;
height: 30vh;
}

.header_dropdown:hover .header_dropdown-menu {
  display: block;
}

h1, h2{
  text-align: center;
}

.first-screen {
  background-color: rgba(228, 243, 246, 0.41);
}

.ai-title {
  margin: 0 auto;
  width: 50%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.main-photo {
  max-width: 70%;     
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .ai-title {
    width: 90%; 
  }

  h1 {
    font-size: 1.5rem;  
  }

  h2 {
    font-size: 1rem;    
  }

  .main-photo {
    padding: 10px; 
    max-width: 90%;
  }
}