@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #fff;
  --black: #000;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

.button {
  width: 162px;
  padding: 12px 24px;
  color: var(--white);
  background-color: var(--black);
}

.button--white {
  width: 102px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
}

.text--large {
  font-weight: 18px;
}

.text--semibold {
  font-weight: 600;
}

.text--small {
  font-size: 14px;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast-content {
  flex-grow: 1;
  margin-right: 10px;
}

.toast-title {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toast-message {
  margin: 0;
}

.toast-close {
  background: none;
  border: none;
  color: #aaa;
  font-size: 1.2em;
  cursor: pointer;
}

.comm__container {
  max-width: 95%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.comm__img {
  max-width: 100%;
}
.text_bold {
  font-size: 2.5rem;
}
.text-normal {
  font-size: 1.1rem;
  max-width: 80%;
}
.comm__container-text {
  display: flex;
  flex-direction: column;
}
.menu-first {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-first-img {
  width: 16px;
  height: 16px;
}
.text-menu {
  display: flex;
}
.comm-button {
  max-width: 10rem;
}

.events {
  background-color: #d9ebee;
  display: flex;
  flex-direction: column;
}

.events__text-topic {
  font-size: 16px;
  margin: 0;
}

.events__title {
  font-size: 48px;
  margin: 16px 0 24px 0;
}

.events__main {
  display: flex;
  flex-direction: column;
  margin: 112px 64px;
}

.events__text {
  font-size: 18px;
  margin: 0;
}

.events__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 64px 0;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 350px;
  /* height: 517px; */
  margin: 0 15px;
}

.event__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__button {
  align-self: flex-end;
}
